<%@ Master Language="C#" AutoEventWireup="true" CodeFile="LogInMasterPage.master.cs"
    Inherits="LogInMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
    <title>Advisor Booking Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link href="Styles/basic.css" rel="stylesheet" type="text/css" />
    <link href="Styles/ModalDialogs.css" rel="stylesheet" type="text/css" />   
</head>
<body>
    <div id="page-login">
        <div id="page-login-top">
            <div id="page-login-bottom">
                <div id="header">
                    <div id="header-info">
                        <h1>
                            <a href="#">Advisor Booking Service</a></h1>
                        <div class="description">
                            Online Booking Service</div>
                    </div>
                </div>
                <div id="main">
                    <div id="login-content" align="center">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div id="footer">
                  <a href="#" class="wt"></a> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
