<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="workstation id=advicebook2.mssql.somee.com;packet size=4096;user id=advicebook2_SQLLogin_1;pwd=zrt9epngx6;data source=advicebook2.mssql.somee.com;persist security info=False;initial catalog=advicebook2" providerName="System.Data.SqlClient"/>
    <add name="College_MgmtConnectionString" connectionString="workstation id=advicebook2.mssql.somee.com;packet size=4096;user id=advicebook2_SQLLogin_1;pwd=zrt9epngx6;data source=advicebook2.mssql.somee.com;persist security info=False;initial catalog=advicebook2" providerName="System.Data.SqlClient"/>
    <add name="COLLEGE_MGMT.MDFConnectionString" connectionString="workstation id=advicebook2.mssql.somee.com;packet size=4096;user id=advicebook2_SQLLogin_1;pwd=zrt9epngx6;data source=advicebook2.mssql.somee.com;persist security info=False;initial catalog=advicebook2" providerName="System.Data.SqlClient"/>
    <add name="AdvisorBookingConnectionString" connectionString="workstation id=advisorbook2.mssql.somee.com;packet size=4096;user id=advisorbooking2_SQLLogin_1;pwd=9tz2dfzuxx;data source=advisorbook2.mssql.somee.com;persist security info=False;initial catalog=advisorbook2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:21379/Advisor%20Booking%20Service/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="AdvisorSchedule.WebServiceSoap" name="WebServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>